<div>Usuarios registrados al momento</div>
<br /><br />
{{#each pets}}
  <div>Nombre:{{this.name}}</div>
  <div>Especie:{{this.specie}}</div>
  <div>Fecha de Nacimiento:{{this.birthDate}}</div>
  <br /><br />
{{/each}}